@import '../common/icons.scss';
@import '../common/font-size.scss';

// 布局方案：
// 方案一：100%布局，又叫流式布局（高度固定，宽度自适应）
// 1、控件弹性
// 2、图片等比例
// 3、文字流式
// 特点：手机越大，显示的内容越多

// 方案二：REM布局，又叫等比缩放布局（整个页面等比缩放）

html {
  // font-size: 26.666667vw;
  // vw, vh
  // vw: 1vw = 当前屏幕宽度（逻辑宽度,即window.innerWidth）的 1%
}

#app {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  .topbar{
    height: .49rem;
    padding: 8px 12px;
    display: flex;
    background-image: linear-gradient(to right, rgb(255, 100, 52) 0%, rgb(255, 71, 43) 100%);
    justify-content: space-between;
    align-items: center;
  }
  main{
    flex : 1;
    background: gray;

  }
  nav{
    height: .46rem;
  }
}