<div class="container">
    <form class="header" action="/search/index.html" id="so" method="get">
        <div class="topbar btn-pink-gradient">
            <div class="search">
                <i class="yo-ico">&#xe65c;</i>
                <input type="text" value="" name="k" placeholder="请输入关键词 搜全站" class="input-text">
                <input type="hidden" name="sort" value="">
            </div>
            <div class="searchBtn"><button type="submit">搜 索</button></div>
        </div>
    </form>
    <main>
        <div class="menu-wrap menu-fixed">
            <div class="swiper-container menu">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><a href="" class="menu-item active">全网精选</a></div>
                    <div class="swiper-slide"><a href="" class="menu-item">女装</a></div>
                    <div class="swiper-slide"><a href="" class="menu-item">男装</a></div>
                    <div class="swiper-slide"><a href="" class="menu-item">母婴</a></div>
                    <div class="swiper-slide"><a href="" class="menu-item">内衣</a></div>
                    <div class="swiper-slide"><a href="" class="menu-item">鞋包</a></div>
                    <div class="swiper-slide"><a href="" class="menu-item">美食</a></div>
                    <div class="swiper-slide"><a href="" class="menu-item">美妆</a></div>
                    <div class="swiper-slide"><a href="" class="menu-item">居家</a></div>
                    <div class="swiper-slide"><a href="" class="menu-item">家居</a></div>
                    <div class="swiper-slide"><a href="" class="menu-item">配饰</a></div>
                    <div class="swiper-slide"><a href="" class="menu-item">数码</a></div>
                    <div class="swiper-slide"><a href="" class="menu-item">家电</a></div>
                    <div class="swiper-slide"><a href="" class="menu-item">儿童</a></div>
                    <div class="swiper-slide"><a href="" class="menu-item">文体</a></div>
                    <div class="swiper-slide"><a href="" class="menu-item">宠物</a></div>
                    <div class="swiper-slide"><a href="" class="menu-item">户外</a></div>
                    <div class="swiper-slide"><a href="" class="menu-item">车品</a></div>
                    <div class="swiper-slide"><a href="" class="menu-item">其它</a></div>
                </div>
            </div>
            <div class="swiper-button-next">
                <i class="maincolor yo-ico">&#xe63f;</i></div>
            <div class="cate"></div>
        </div>
        <div class="banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="https://www.43626.cn/gy/">
                            <img src="http://zshpldbz.com/upload/images/5c9d4b2b68768675_1.png" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://www.43626.cn/gy/">
                            <img src="http://zshpldbz.com/upload/images/5c9d4b2b68768675_1.png" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://www.43626.cn/gy/">
                            <img src="http://zshpldbz.com/upload/images/5c9d4b2b68768675_1.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
                <div class="section-item">
                    <a href="/jiu/index.html">
                        <div class="section-content">
                            <div class="section-title maincolor">9.9元包邮</div>
                            <div class="section-desc maincolor">好货底价疯抢</div>
                            <div class="btn-main-gradient btn-sm section-btn">省钱又放心</div>
                        </div>
                        <img src="/basic/images/static/cream.png?ts=20190605" width="70" height="96" class="section-pic">
                    </a>
                </div>
                <div class="section-item">
                    <a href="/search/index.html">
                        <div class="section-content">
                            <div class="section-title maincolor">巨划算</div>
                            <div class="section-desc maincolor">好品味从挑剔开始</div>
                            <div class="btn-blue-gradient btn-sm section-btn">千款好货</div>
                        </div>
                        <img src="/basic/images/static/flower.png?ts=20190605" width="88" class="section-pic">
                    </a>
                </div>
                <div class="section-item">
                    <a href="/search/index.html">
                        <div class="section-content">
                            <div class="section-title maincolor">热销榜</div>
                            <div class="section-desc maincolor">大家都在抢</div>
                            <div class="btn-green-gradient btn-sm section-btn">热销推荐</div>
                        </div>
                        <img src="/basic/images/static/cloth.png?ts=20190605" width="75" class="section-pic">
                    </a>
                </div>
                <div class="section-item">
                    <a href="/user/invite.html">
                        <div class="section-content">
                            <div class="section-title maincolor">要赚钱</div>
                            <div class="section-desc maincolor">邀请赚现金</div>
                            <div class="btn-violet-gradient btn-sm section-btn">我的邀请</div>
                        </div>
                        <img src="/basic/images/static/shaidan.png?ts=20190605" width="81" height="81" class="section-pic">
                    </a>
                </div>
            
            </div>
    </main>
    <nav>

    </nav>
</div>