<div class="container">
    <form class="header" action="/search/index.html" id="so" method="get">
        <div class="topbar btn-pink-gradient">
            <div class="search">
                <i class="iconfont ffxia-search icon-search"></i>
                <input type="text" value="" name="k" placeholder="请输入关键词 搜全站" class="input-text">
                <input type="hidden" name="sort" value="">
            </div>
            <div class="searchBtn"><button type="submit">搜 索</button></div>
        </div>
    </form>
    <main>

    </main>
    <nav>

    </nav>
</div>